* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --animationSliderY: sliderY;
}

body {
  background-color: #132742;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

@keyframes sliderY {
  from {
    transform: translateY(90px);
  }

  to {
    transform: translateY(0);
  }
}
